html,
body,
#root{
  width:100%;
  height:100%;
  margin:0;
}

*{
  box-sizing:border-box;
  font-family:Inter,sans-serif;
}

.resetx-page{
  width:100%;
  height:100vh;
  overflow:hidden;
  display:grid;
  grid-template-columns:50% 50%;
}

/* LEFT */
.resetx-left{
  position:relative;
  overflow:hidden;

  background:
    linear-gradient(
      rgba(2,15,40,.55),
      rgba(2,15,40,.55)
    ),
    url("../../assets/reset.png");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}


.resetx-left-content{
  position:relative;
  z-index:2;

  height:100%;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  text-align:center;

  padding:40px;
}

.resetx-icon-box{
  width:64px;
  height:64px;

  border-radius:16px;

  background:
  linear-gradient(
    180deg,
    rgba(255,255,255,.10),
    rgba(255,255,255,.04)
  );

  border:1px solid rgba(255,255,255,.08);

  display:flex;
  align-items:center;
  justify-content:center;

  color:white;
  font-size:34px;

  margin-bottom:30px;
}

.resetx-left-content h1{
  color:white;
  font-size:56px;
  line-height:1.1;
  font-weight:500;

  margin:0;
}

.resetx-left-content h1 span{
  color:#d8c4ff;
}

.resetx-left-content p{
  max-width:500px;

  color:#93a4c6;

  font-size:18px;
  line-height:1.8;

  margin-top:24px;
}

/* RIGHT */

.resetx-right{
  background:#f8fafc;

  position:relative;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.resetx-top-icons{
  position:absolute;
  top:12px;
  right:18px;

  display:flex;
  gap:12px;

  font-size:24px;
}

.resetx-card{
  width:100%;
  max-width:430px;

  background:white;

  border-radius:24px;

  padding:32px;

  box-shadow:
  0 12px 40px rgba(16,24,40,.06);
}

.resetx-card label{
  display:block;

  margin-bottom:10px;

  font-size:11px;
  font-weight:700;

  letter-spacing:3px;

  color:#475467;
}

.resetx-input{
  height:54px;

  border:1px solid #d0d5dd;
  border-radius:12px;

  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:0 16px;

  margin-bottom:22px;
}

.resetx-input input{
  border:none;
  outline:none;
  background:none;

  flex:1;

  font-size:15px;
}

.resetx-strength-head{
  display:flex;
  justify-content:space-between;

  font-size:13px;

  margin-bottom:10px;
}

.resetx-strength-head strong{
  color:#2f80ff;
  font-size:11px;
}

.resetx-bars{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:8px;

  margin-bottom:24px;
}

.resetx-bars span{
  height:5px;
  border-radius:20px;
  background:#2f6df6;
}

.resetx-rules{
  background:#f7f8fa;

  border:1px solid #e8eaef;

  border-radius:16px;

  padding:16px;

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:14px;
}

.resetx-rules div{
  display:flex;
  align-items:center;
  gap:8px;

  font-size:13px;
}

.resetx-rules svg{
  color:#2f6df6;
}

.circle{
  width:12px;
  height:12px;

  border-radius:50%;
  border:1px solid #b6bcc8;
}

.resetx-btn{
  width:100%;
  height:54px;

  border:none;
  cursor:pointer;

  margin-top:24px;

  border-radius:14px;

  color:white;
  font-size:15px;
  font-weight:600;

  background:
  linear-gradient(
    90deg,
    #2b46c3,
    #0677e6
  );
}

.resetx-links{
  margin-top:24px;

  display:flex;
  gap:30px;
}

.resetx-links a{
  text-decoration:none;
  color:#667085;
  font-size:13px;
}

.resetx-footer{
  position:absolute;

  bottom:18px;
  left:40px;
  right:40px;

  display:flex;
  justify-content:space-between;

  font-size:11px;
  color:#98a2b3;
}

.resetx-footer a{
  text-decoration:none;
  color:#667085;
  margin-left:16px;
}